<a href="https://colab.research.google.com/github/100472330/100472330_100486483_PRACTICA1/blob/main/Practica1_AA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [ ]:
df= pd.read_csv("./attrition_competition_03.csv")
df.head(8)

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,6.963504,15,3,4,3.0,4.0,2.0,45,Travel_Rarely,Research & Development,...,5.0,Y,23,8,1,9.0,4,6,0,3
1,7.005464,19,3,3,2.0,3.0,3.0,54,Travel_Rarely,Sales,...,3.0,Y,14,8,0,36.0,5,10,4,7
2,8.334608,11,2,3,1.0,1.0,3.0,29,Travel_Rarely,Research & Development,...,4.0,Y,14,8,1,4.0,5,2,2,0
3,7.521929,6,3,3,4.0,2.0,3.0,25,Travel_Rarely,Research & Development,...,0.0,Y,11,8,1,4.0,3,3,1,2
4,7.040928,16,4,3,2.0,2.0,3.0,21,Travel_Rarely,Sales,...,1.0,Y,14,8,0,1.0,3,1,1,0
5,6.865052,18,3,3,1.0,3.0,2.0,43,Non-Travel,Human Resources,...,4.0,Y,18,8,0,7.0,2,3,1,2
6,6.023237,7,3,4,3.0,4.0,3.0,46,Travel_Rarely,Sales,...,1.0,Y,22,8,0,9.0,0,9,4,7
7,8.333794,8,2,3,4.0,3.0,3.0,20,Travel_Rarely,Research & Development,...,1.0,Y,12,8,3,1.0,2,1,1,1